{% extends 'admin_template/base_template.html' %}
{% block title %}
  Merchant Update
{% endblock title %}

{% block page_title %}
Merchant Update
{% endblock page_title %}

{% block page_content %}
<div class="row">
    <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4>Merchant</h4>
          </div>
          <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for fields in form %}
                    <div class="form-group"> 
                        {% if fields.errors %}
                            <div class="alert alert-danger">
                                {{fields.errors}}
                            </div>
                        {% endif %}
                        <label>{{fields.label}}</label>
                        <input type="{{fields.field.widget.input_type}}" id = "{{fields.name}}" value = "{{fields.value}}" name = "{{fields.name}}" class="form-control">
                    </div>
                {% endfor %}
                <div class="form-group">
                    <label>Profile Pic</label>
                    <input type="file" id = "profile_pic" name = "profile_pic" class="form-control">
                </div>
                <div class="form-group">
                    <div class="card">
                        <div class="card-body">
                            <img class = "img-fluid" src="{{merchantuser.profile_pic}}" alt="">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Company Name</label>
                    <input type="text" id = "company_name" value="{{merchantuser.company_name}}" name = "company_name" class="form-control">
                </div>
                <div class="form-group">
                    <label>GST</label>
                    <input type="text" id = "gst_details"value="{{merchantuser.gst_details}}" name = "gst_details" class="form-control">
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <input type="text" id = "address"value="{{merchantuser.address}}" name = "address" class="form-control">
                </div>
                <button class = "btn btn-primary btn-block" type = "submit">Save Merchant</button>
            </form>
          </div>
        </div>
    </div>
</div>
<script>
</script>
{% endblock page_content %}